Repository Rupandangol/Food-api-utilization, pull requests merged in 2020-11, with the labels that each got.

#1 GOG-21 change in name
  readme.md
Labels: bug

#2 GOG-22 init Vue ionic
  .browserslistrc
  .eslintrc.js
  .gitignore
  babel.config.js
  capacitor.config.json
  cypress.json
  ionic.config.json
  jest.config.js
  package-lock.json
  package.json
  public/assets/icon/favicon.png
  public/assets/icon/icon.png
  public/assets/shapes.svg
  public/index.html
  resources/icon.png
  resources/splash.png
  src/App.vue
  src/components/ExploreContainer.vue
  src/main.ts
  src/router/index.ts
  src/shims-vue.d.ts
  src/theme/variables.css
  src/views/Tab1.vue
  src/views/Tab2.vue
  src/views/Tab3.vue
  src/views/Tabs.vue
  tests/e2e/.eslintrc.js
  tests/e2e/plugins/index.js
  tests/e2e/specs/test.js
  tests/e2e/support/commands.js
  tests/e2e/support/index.js
  tests/unit/example.spec.ts
  tsconfig.json
Labels: enhancement

#4 GOG-23 backend starter with testapi index
  backend/.gitignore
  backend/food/db.sqlite3
  backend/food/food/__init__.py
  backend/food/food/asgi.py
  backend/food/food/settings.py
  backend/food/food/urls.py
  backend/food/food/wsgi.py
  backend/food/manage.py
  backend/food/testapi/__init__.py
  backend/food/testapi/admin.py
  backend/food/testapi/apps.py
  backend/food/testapi/migrations/__init__.py
  backend/food/testapi/models.py
  backend/food/testapi/tests.py
  backend/food/testapi/urls.py
  backend/food/testapi/views.py
  backend/readme.md
  backend/requirements.txt
Labels: Backend

#5 GOG-26 Setup database and create dummy api
  backend/.env.example
  backend/.gitignore
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/db.sqlite3
  backend/docs/api.json
  backend/food/__init__.py
  backend/food/asgi.py
  backend/food/settings.py
  backend/food/urls.py
  backend/food/wsgi.py
  backend/manage.py
  backend/readme.md
  backend/requirements.txt
  backend/utils/__init__.py
  backend/utils/response_format_helper.py
  backend/utils/validator.py
Labels: Backend, documentation, enhancement

#7 GOG-23 shift backend to new repo
  backend/.env.example
  backend/.gitignore
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/db.sqlite3
  backend/docs/api.json
  backend/food/__init__.py
  backend/food/asgi.py
  backend/food/db.sqlite3
  backend/food/food/__init__.py
  backend/food/food/asgi.py
  backend/food/food/settings.py
  backend/food/food/urls.py
  backend/food/food/wsgi.py
  backend/food/manage.py
  backend/food/settings.py
  backend/food/testapi/__init__.py
  backend/food/testapi/admin.py
  backend/food/testapi/apps.py
  backend/food/testapi/migrations/__init__.py
  backend/food/testapi/models.py
  backend/food/testapi/tests.py
  backend/food/testapi/urls.py
  backend/food/testapi/views.py
  backend/food/urls.py
  backend/food/wsgi.py
  backend/manage.py
  backend/readme.md
  backend/requirements.txt
  backend/utils/__init__.py
  backend/utils/response_format_helper.py
  backend/utils/validator.py
Labels: Backend, duplicate
